aiosqlite
bcrypt
python-dotenv
fastapi
fastapi-jwt-auth
fastapi_pagination
fastapi_mail
httpx
alembic
asyncpg
pydantic[email]
pyjwt
pytest
pyyaml
pytest_asyncio
sqlalchemy
sqlalchemy_utils
uvicorn
stackprinter
pytest_mock