[flake8]
count = true
max-line-length = 120
max-complexity = 30
exclude = .git, __pycache__, .idea/
select = F,W,E,C,N,B,A,S,T,H,JS,CCR,SIM,PEA,NU,D200,D201,D202,D209,D210
ignore = W503,B011,SIM102,SIM106,SIM111,SIM118,I,JS101,JS102,C408,T002,T003,E203,E501
